.contain-login {
    padding: 100px 150px !important;
}

.login-form {
    margin: 0 !important;
    width: 40%;
}

.log-in-title {
    font-size: 3.8rem !important;
}

.log-in-img {
    width: 377px;
    height: 440px;
    object-fit: contain;
}