.form {
    width: 30%;
    margin: 100px auto;
    padding: 2rem;
    border: 1px solid #ced4da;
}

.link {
    color: gray !important;
    transition: all 0.3s linear;
    text-decoration: underline !important;
}

.link:hover {
    color: black !important;
}