.contain-login {
  padding: 100px 150px !important;
}

.log-in-title {
  margin-top: 46px !important;
  margin-bottom: 110px !important;
}

.welcome-label {
  margin-bottom: 80px !important;
  font-size: 2rem !important;
  font-weight: 400 !important;
}
.login-form {
  margin: 0 !important;
  width: 40%;
}

.log-in-img {
  width: 377px;
  height: 440px;
  object-fit: contain;
}
