.new-password-form {
  width: 39%;
}

.new-password-mb {
  margin-bottom: 70px;
}

.contain-new-password {
  background-position-y: 200px, 95% !important;
  background-position-x: -8%, right !important;
}
