.contain-cart {
  padding-left: 11% !important;
}

.cart-items-chevrons-container {
  width: 72%;
  max-height: 600px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 20px;
  margin-left: 5%;
  margin-bottom: 80px;
}

.cart-items {
  overflow: hidden;
}

.check-icon {
  height: 50px;
  width: 50px;
  color: rgba(38, 207, 124, 1);
  border: 1px solid rgba(38, 207, 124, 1);
  transition: all 0.3s linear;
}

.check-icon-active {
  background-color: rgba(38, 207, 124, 1);
  color: white;
  border: 0;
}

.arrow-up-down {
  width: 10%;
}

/* .arrow-up {
  position: absolute;
  top: 10px;
  right: 25px;
}

.arrow-down {
    position: absolute;
    bottom: 10px;
    right: 25px;
} */

.chevron-icon {
  font-size: 2rem;
  background-color: #206ef6;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.5),
    rgba(32, 110, 246, 0.5),
    rgba(32, 110, 246, 0.5),
    rgba(255, 255, 255, 0),
    rgba(32, 110, 246, 0.5)
  );
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
}

.check-out-btn {
  width: 72%;
  /* margin: 0 ; */
  margin-left: 5%;
}
.check-out-btn button {
  width: 50%;
  background-color: rgba(38, 207, 124, 1) !important;
  border: 0 !important;
}

.check-out-btn button:hover {
  background-color: rgb(18, 161, 92) !important;
  margin-bottom: 150px;
}
