.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position-y: 166px, bottom !important;
  background-position-x: -8% , right !important;
  /* margin: 0 auto; */
}

.name {
  margin-top: 110px;
  margin-left: 145px;
  margin-bottom: 50px;
  font-size: 5rem;
  font-weight: 700;
  /* margin-right: auto; */
  align-self: flex-start;
}
/* first section */
.profile-img {
  width: 38%;
  height: 360px;
  object-fit: cover;
  overflow: hidden;
  margin-bottom: 50px;
  border-radius: 20px;
  /* margin-top: 3rem; */
  /* background-size: cover; */
}

.profile-section {
  width: 38%;
}

/* second section */
/* .info {
  margin: 100px auto;
  width: 75%;
} */

.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(32, 110, 246, 1);
  padding: 10px 20px;
}

.setting-label {
  font-size: 3.2rem;
  font-weight: 700;
  color: white;
}
.profile-section .list-group {
  border-radius: 0;
  text-align: center;
}

.icon {
  cursor: pointer;
  transition: all 0.3s linear;
  color: white;
}

.chevron-down {
  transform: rotate(180deg);
}

#profile-list-group {
  /* display: none !important; */
  /* opacity: 0; */
  transition: all 0.3s linear;
  margin-bottom: 150px !important;
  position: relative;
  display: block;
  /* transition: all 0.3s linear; */
}

.setting-list .list-group-item {
  margin-bottom: 3px;
  opacity: 67% !important;
  /* position: relative; */
  /* width: 100%; */
}
.setting-list .list-group-item .btn {
  font-weight: 700 !important;
  font-size: 1.5rem;
  color: gray !important;
  transition: all 0.5s linear;
  /* width: 100%; */
}

.setting-list .list-group-item .btn:hover {
  color: black !important;
}
.show-setting-list  {
  display: none !important;
}
