.Findmybet {
  /* height: 100; */
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.title {
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 85px;
}
.id-input {
  /* display: block; */
  width: 55%;
  margin-bottom: 75px;
  border-radius: 20px;
  padding: 12px 22px;
  font-size: 40px;
}

.track-btn {
    padding: 20px 180px !important;
    border-radius: 20px !important;
    font-size: 35px !important;
    font-weight: 700 !important;
}
