.Findmybet {
  /* height: 100; */
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-position-y: 100px,  bottom!important;
  background-position-x: -8%, right !important;

}

.id-input {
  /* display: block; */
  outline: none;
  width: 55%;
  margin-bottom: 75px;
  border-radius: 20px;
  padding: 12px 22px;
  font-size: 4rem;
}

.track-btn {
  border-radius: 2rem !important;
  border: 3px solid #3c1da9;
  padding: 20px 100px !important;
  color: #ffffff;
}