.navbar-color {
  background-color: gainsboro;
}

.search-container {
  border: 1px solid gray;
  border-radius: 25px;
  padding: 0.3rem 1rem;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.input {
  border: 0;
  background: none;
  padding: 0.3rem;
  outline: none;
}
