.pet-store-navbar {
  padding: 20px 5%;
  background-color: rgba(248, 248, 248, 1);
}

.logo {
  width: 77px;
  height: 34px;
}
.search-container {
  width: 34%;
  display: flex;
}

.search-container input {
  border: none;
  background: #e7e7e7;
  border-radius: 15px 0px 0px 15px;
  padding: 14px 20px;
  width: 81%;
  outline: none;
  font-size: 1rem;
  font-weight: 600;
}

.search-container input::placeholder {
  color: rgba(190, 190, 190, 1);
}

.search-container button {
  border: none;
  background: rgba(32, 110, 246, 1);
  border-radius: 0px 15px 15px 0px;
  padding: 10px 20px;
  width: 19%;
}

.icons {
  font-size: 2.5rem;
  width: 9%;
  display: flex;
  justify-content: space-between;
}

.icons .icon {
  width: 25px;
  height: 30px;
  object-fit: cover;
  cursor: pointer;
}
