.input-verify-field {
  border: 1px solid black !important;
  border-radius: 1rem;
  /* padding: 0.5rem 1rem; */
  padding: 10px  !important;
  outline: 0;
  transition: all 0.3s linear;
  letter-spacing: 4px;
}

.input-verify-field:focus {
  /* border: 1px solid gray; */
  box-shadow: 0 0 5px 1px rgb(201, 196, 196);
}

.verify-title {
  font-size: 3.5rem !important;
  font-weight: 700 !important;

  margin-bottom: 15px !important;
}

.verify-form {
  width: 39% !important;
  margin-top: 0 !important;
}

.contain-verify {
  background-position-y: 60px, 120% !important;
  background-position-x: -8%, right !important;
}