.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 75px 0;
    background-color: #1E1E1E;
    color: #FEFEFE;
}

.center-side {
    text-align: center;
}

.center-side .first-line {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
    width: 28.12vw;

}

.center-side .second-line {
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    margin-top: 38px;
}
.footer-pages-links{
    display: flex;
    flex-direction: column;
}
.footer-pages-links a {
    color: rgba(146, 146, 146, 1) !important;
    font-weight: 700;
    font-size: 2.2rem;
    margin-bottom: 20px;
    transition: all 0.3s linear;
}
.footer-pages-links a:hover {
    color: white !important;
}

.footer-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin: auto;
}


.footer-icon {
    font-size: 2rem !important;
    color: white !important;
}
