.contain-register {
  padding-left: 150px !important;
  padding-right: 112px !important;
}
.signup-page-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-media-register {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.link-social-register {
  margin-bottom: 14px;
  padding: 10px 65px;
  border-radius: 10px !important;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 2.4rem;
  font-weight: 700;
  width: 86.7%;
  box-shadow: 0px 0px 10px 0px gainsboro;
}

.google-register-icon {
  width: 24px;
  height: 24px;
} 

.google-register-link {
  margin-right: 10px;
}

.facebook {
  background-color: white;
}

.facebook-register-icon {
  color: #206ef6;
}

.or-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.or {
  color: #206ef6;
  font-weight: 700;
  font-size: 1.6rem;
}

.line-between {
  width: 39%;

  margin: 10px;
  border: 1px dashed #206ef6;
}

.sign-up-form {
  width: 33%;
  margin-right: auto;
}






.no-border {
  border: none !important;
}

.input-container {
  border: 1px solid gainsboro;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 20px;
}

.specified-input {
  border: 0 !important;
  box-shadow: none !important;
  background-color: transparent !important;
  height: 45px;
  /* padding: 4px 10px !important; */
}

.specified-input::placeholder {
  font-size: 1rem;
  font-weight: bold;

  padding: 10px 0 !important;
}

.user-input::placeholder {
  /* font-size: 16px; */
  font-weight: normal;
}
.input-signup-icon {
  color: rgba(187, 190, 199);
}

/* .link-social-register:hover {

} */



.register-image {
  margin-right: auto;
  /* background-color : none; */
}
