html {
  font-size: 62.5%;
}
body {
  font-family: "Inter", sans-serif !important;
}

ul {
  list-style: none;
  padding-left: 0 !important;
}

button {
  background: none;
  border: none;
  padding-left: 0;
}

a {
  text-decoration: none !important;
  color: black !important;
}
/* li {
    margin: 5px 0;
} */
.form {
  /* width: 30%; */
  margin: 100px auto;
  padding: 20px;
  /* border: 1px solid rgba(181, 181, 181, 1); */
  border-radius: 10px !important;
  box-shadow: 4px 6px 10px 1px rgba(128, 128, 128, 0.2);
}

.link {
  color: rgba(32, 110, 246, 1) !important;
  transition: all 0.3s linear;
  text-decoration: underline !important;
}

.link:hover {
  color: black !important;
}

.show {
  display: block;
}

.background-gc {
  background: rgba(248, 248, 248, 1);

  background: linear-gradient(
    45deg,
    rgba(32, 110, 246, 0.2) 0%,
    rgb(255, 255, 255) 30% 65%,
    rgba(255, 209, 1, 0.2)
  );
}

.title {
  font-weight: 700;
  font-size: 4.4rem;
  margin-bottom: 50px;
}

.large-title {
  font-size: 6rem !important;
}

.contain {
  padding: 7.3% 0;
}

.label {
  font-size: 2rem !important;
  font-weight: 400 !important;
  margin-bottom: 8px !important;
}

.label-bold {
  font-size: 18px !important;
  font-weight: 700 !important;
  margin-bottom: 8px !important;
}

.submit-btn {
  /* padding: 20px 180px !important; */
  border-radius: 10px !important;
  font-size: 2.8rem !important;
  font-weight: 700 !important;
}

.customized-input {
  font-size: 2rem !important;
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}

.pages-btn {
  border-radius: 20px !important;
  border: 3px solid #3c1da9;
  padding: 20px 100px !important;
  color: #ffffff;
}

.display-box-shadow {
  box-shadow: 4px 6px 10px 1px rgba(128, 128, 128, 0.2);
}
