.forget-form {
    width: 39% !important;
    display: flex;
    /* align-items: ; */
    justify-content: center;
    flex-direction: column;
    /* margin: 0 a !important; */
}

.form-group-forget-password, .forget-btn {
    margin-bottom: 70px;
}

.contain-forget {
    padding-bottom: 210px !important;
}